**/.DS_Store
**/.vscode
**/.idea
**/.git
**/.gitignore
**/.dockerignore
**/.envrc
**/.flake8
**/.prettierrc.json
**/tox.ini
**/.ipynb_checkpoints
**/.virtual_documents
**/.secret
**/.java-version
**/.data
**/.Rhistory
**/Pipfile
**/Pipfile.lock
**/__pycache__
**/.pyc
**/dockerfile
**/compose.yaml
**/manifests/
**/envs/
**/tests/
**/node_modules
**/dist
**/.eslintrc.cjs
**/.npmrc
