[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
fastnumbers = "*"
boto3 = "*"
psycopg = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
paho-mqtt = "*"
python-snappy = "*"
zstandard = "*"
pandas = "*"
fsspec = "*"
s3fs = "==2024.6.1"
pydantic = "*"
pymongo = "*"
orjson = "*"
pyarrow = "*"
confluent-kafka = "*"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.11"
