[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
faker = "*"
bson = "*"
fastnumbers = "*"
boto3 = "*"
psycopg = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
paho-mqtt = "*"
python-snappy = "*"
zstandard = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
