-i https://pypi.org/simple
boto3==1.34.158; python_version >= '3.8'
botocore==1.34.158; python_version >= '3.8'
bson==0.5.10
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
confluent-kafka==2.5.0
cramjam==2.8.3; python_version >= '3.7'
faker==26.3.0; python_version >= '3.8'
fastnumbers==5.1.0; python_version >= '3.7'
idna==3.7; python_version >= '3.5'
jmespath==1.0.1; python_version >= '3.7'
paho-mqtt==2.1.0; python_version >= '3.7'
psycopg==3.2.1; python_version >= '3.8'
psycopg2==2.9.9; python_version >= '3.7'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-snappy==0.7.2
requests==2.32.3; python_version >= '3.8'
s3transfer==0.10.2; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sqlalchemy==2.0.32; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
zstandard==0.23.0; python_version >= '3.8'
