-i https://pypi.org/simple
boto3==1.34.59; python_version >= '3.8'
botocore==1.34.59; python_version >= '3.8'
bson==0.5.10
confluent-kafka==2.3.0
faker==24.1.0; python_version >= '3.8'
fastnumbers==5.1.0; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
pendulum==3.0.0; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
s3transfer==0.10.0; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
time-machine==2.14.0; implementation_name != 'pypy'
tzdata==2024.1; python_version >= '2'
urllib3==2.0.7; python_version >= '3.10'
